{
	admin off
	on_demand_tls {
		ask http://backend:8081/api/internal/tls/allow?token={$CADDY_ASK_SECRET}
	}
	auto_https disable_redirects
	log {
		level ERROR
	}
}

http://{$DOMAIN}, https://{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	encode gzip zstd

	handle /api/* {
		reverse_proxy backend:8081 {
			header_up -X-Forwarded-For
			header_up -X-Forwarded-Host
			header_up -X-Forwarded-Proto
			header_up -Via
		}
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}

http://{$INSTANCES_DOMAIN}, http://*.{$INSTANCES_DOMAIN}, https://{$INSTANCES_DOMAIN}, https://*.{$INSTANCES_DOMAIN} {
	tls {
		on_demand
	}

	reverse_proxy backend:8082 {
		header_up X-Internal-Real-IP {remote_host}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up -Via
	}
}
