{
	admin off
	auto_https disable_redirects prefer_wildcard
	log {
		level ERROR
	}
}

http://{$DOMAIN}, https://{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	encode gzip zstd

	handle /api/* {
		reverse_proxy backend:8081 {
			header_up -X-Forwarded-For
			header_up -X-Forwarded-Host
			header_up -X-Forwarded-Proto
			header_up -Via
		}
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}

http://*.instances.{$DOMAIN}, https://*.instances.{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	reverse_proxy backend:8082 {
		header_up X-Internal-Real-IP {remote_host}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up -Via
	}
}
